* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.heading {
  font-family: "Satisfy", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 17px;
  text-align: center;
}
.email {
  width: 280px;
  padding: 12px;
  margin-top: 17px;
  border-style: solid;
  border-radius: 4px;
  border-color: rgb(220, 220, 221);
  background-color: rgb(245, 245, 245);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.password {
  width: 280px;
  padding: 12px;
  margin-top: 5px;
  border-style: solid;
  border-radius: 4px;
  border-color: rgb(220, 220, 221);
  background-color: rgb(245, 245, 245);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login-btn {
  background-color: rgb(31, 166, 251);
  color: #fff;
  width: 309px;
  font-size: 14px;
  padding: 7px;
  border-style: none;
  border-radius: 7px;
  margin-top: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
#or {
  color: rgb(121, 121, 122);
  padding: 15px;
  margin-top: -27px;
  margin-right: 11px;
}
hr {
  width: 123px;
  color: rgb(229, 229, 229);
  margin-left: -14px;
}

.facebook-link {
  font-size: 16px;
  text-decoration: none;
}
.reset-password {
  text-decoration: none;
  font-size: 14px;
}
.logo {
  width: 27px;
  margin-bottom: -6px;
}
.container2 {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(203, 204, 206);
  width: fit-content;
  padding: 30px;
  padding-left: 40px;
}
.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.line {
  display: flex;
  flex-direction: row;
  height: 1px;
  margin: 20px;
}

.link-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 10px;
}
